body {
  font-family: 'Source Sans Pro';
  margin: 0;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}


/* HEADING */

.header-content {
  height: 100%;
}

header {
  background-color: #efefef;
  height: 25vw;
  max-height: 80px;
  width: 100%;
}

.udacity-logo {
  max-height: 100%;
  width: 10%;
  float: left;
}

h1 {
  float: left;
  padding-top: 2%;
  width: 80%;
  font-weight: normal;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 380px) {
  h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 464px) and (min-width: 381px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 465px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 550px) {
  .header-content {
    padding-top: 15px;
  }
}

@media screen and (max-width: 549px) {
  .header-content {
    padding-top: 5px;
  }
  header {
    height: 13vw;
  }
}


/* MAIN SECTIONS */

.hero {
  padding: 1em;
  max-width: 100%;
  background-color: #294860;
  color: white;
  text-align: center;
}

.hero .iama {
  display: none;
}

.my-picture {
  display: block;
  margin: 5% auto;
  width: 20%;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.iama {
  max-width: 100%;
  color: #969696;
  letter-spacing: 0.05em;
  font-size: 16px;
  margin: 15px auto 5px;
  font-style: italic;
}

.my-info {
  max-width: 100%;
  font-size: 22px;
  margin: 0 auto 40px;
  color: #333;
}

.my-info:last-of-type {
  margin: 0;
}

.my-info.my-place {
  color: #C1CDCD;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 5%;
}

.my-name {
  color: white;
  font-weight: bold;
  font-size: 1.75em;
  margin-bottom: 5px;
}

.about-me {
  margin: 5% auto;
  padding: 0 5% 0;
  border-left: 1px solid #ccc;
}
